<footer class="border-top footer text-muted">
  <div class="container text-center">
    <span>© 2024 SOFTBRIDGE <span class="supsub"><sup style="text-align:start">enterprise</sup><sub style="text-align:start">PG0309788-D</sub></span> | All rights reserved.</span>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var links = document.querySelectorAll('.nav-link');
    var currentPath = window.location.pathname.split("/").pop();

    links.forEach(function(link) {
        var linkPath = link.getAttribute('href').split("/").pop();
        if (linkPath === currentPath) {
            link.classList.add('active');
        }
    });
  });

$(document).ready(function() {
      $('#navbarDropdown2').on('click', function() {
        $('.dropdown-menu-fullpage').toggleClass('show');
      });
    });
</script>
</body>
</html>
