<footer class="border-top footer text-muted">
  <div class="container text-center">
    <span>© 2024 SOFTBRIDGE <span class="supsub"><sup style="text-align:start">enterprise</sup><sub style="text-align:start">PG0309788-D</sub></span> | All rights reserved.</span>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var links = document.querySelectorAll('.nav-link');
    var currentPath =        window.location.pathname.split("/").pop();

    links.forEach(function(link) {
        var linkPath = link.getAttribute('href').split("/").pop();
        if (linkPath === currentPath) {
            link.classList.add('active');
        }
    });
  });
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
   var s1 = document.createElement("script"),s0=document.getElementsByTagName("script")[0];
   s1.async=true;
   s1.src = 'https://embed.tawk.to/672ba4cd4304e3196ade05ee/1ic17nhmr';
   s1.charset = 'UTF-8';
   s1.setAttribute('crossorigin','*');
   s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
