<div class="container">
  <!--nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"-->
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="SOFTBRIDGE Logo" height="30" class="pe-3">
        <strong>SOFTBRIDGE </strong><span class="supsub"><sup style="text-align:start">enterprise</sup><sub style="text-align:start">PG0309788-D</sub></span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse-fullpage" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
      	<span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse-fullpage collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav nav-masthead flex-grow-1 justify-content-end">
              <li class="nav-item">
                  <a class="nav-link text-dark" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-dark" href="/products">Products</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-dark" href="/services">Services</a>
              </li>
              <li class="nav-item dropdown btn-group">
                  <a class="nav-link text-dark pe-2" href="/about">About</a>
              	  <a class="nav-link text-dark dropdown-toggle dropdown-toggle-split" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                	<span class="visually-hidden">Toggle Dropdown</span>
                  </a>
              	  <ul class="dropdown-menu  dropdown-menu-end" aria-labelledby="navbarDropdown2">
                	<li><a class="dropdown-item" href="/privacy">Privacy</a></li>
              	  </ul>
              </li>
          </ul>
       </div>
    </div>
  </nav>
</div>
