<div class="container">
  <!--nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"-->
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="SOFTBRIDGE Logo" height="30" class="pe-3">
        <strong class="h4">SOFTBRIDGE </strong><span class="supsub"><sup style="text-align:start">enterprise</sup><sub style="text-align:start">PG0309788-D</sub></span>
      </a>
      <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label" aria-modal="true" role="dialog">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav nav-masthead justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/services">Services</a>
            </li>
            <li class="nav-item dropdown btn-group">
                <a class="nav-link text-dark pe-2" href="/about">About</a>
              	<a class="nav-link text-dark dropdown-toggle dropdown-toggle-split" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                	<span class="visually-hidden">Toggle Dropdown</span>
                </a>
              	<ul class="dropdown-menu  dropdown-menu-end" aria-labelledby="navbarDropdown2">
                	<li><a class="dropdown-item" href="/privacy">Privacy</a></li>
              	</ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
