html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ol {
    margin-bottom: 20px; /* Adjust the value as needed */
}

ol li {
    margin-bottom: 10px; /* Adjust the value as needed */
}

.navbar-collapse-fullpage.collapse {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}
.navbar-collapse-fullpage {
    display: block;
}


.supsub {
    display: inline-block;
}
.supsub sup,
.supsub sub {
    position: relative;
    display: block;
    font-size: .5em;
    line-height: 0.5;
}
.supsub sup{
  top: -.6em;
}
.supsub sub {
    top: .1em;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

