{% include head.html %}
{% include header.html %}
<main class="container mt-5">
  {{ content }}
  <!-- Floating Button 
  <a href="mailto:enquiry@softbridge.com.my?subject=Interested%20in%20Purchasing%20MSAD%20Insights&body=Hello,%0D%0A%0D%0AI%20am%20interested%20in%20purchasing%20or%20getting%20a%20demo%20of%20your%20MSAD%20Insights%20software.%20Please%20provide%20me%20with%20additional%20information%20and%20pricing.%0D%0A%0D%0AThank%20you!" class="btn btn-primary floating-btn">
      <i class="bi bi-chat-dots-fill"></i>
  </a>
  -->
</main>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/672ba4cd4304e3196ade05ee/1ic17nhmr';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
{% include footer.html %}
