{% include head.html %}
{% include header.html %}
<main class="container-fluid text-center background-fade">
  <div class="fade-overlay">
     <div class="container" style="padding-top:20%">
       {{ content }}
     </div>    
  </div>
</main>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
   var s1 = document.createElement("script"),
   s0 = document.getElementsByTagName("script")[0];
   s1.async = true;
   s1.src = 'https://embed.tawk.to/672ba4cd4304e3196ade05ee/1ic17nhmr';
   s1.charset = 'UTF-8';
   s1.setAttribute('crossorigin','*');
   s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
{% include footer.html %}