{% include head.html %}
{% include header.html %}
<style>
    .pricing-section {
        padding: 60px 20px;
    }
    .pricing-card {
        border: 1px solid #dee2e6;
        border-radius: 8px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .pricing-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
    .pricing-header {
        background-color: #007bff;
        color: #fff;
        padding: 20px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .pricing-footer {
        background-color: #f1f1f1;
        padding: 20px;
        text-align: center;
    }
</style>
<main class="container mt-5">
  {{ content }}
  <!-- Floating Button 
  <a href="mailto:enquiry@softbridge.com.my?subject=Interested%20in%20Purchasing%20MSAD%20Insights&body=Hello,%0D%0A%0D%0AI%20am%20interested%20in%20purchasing%20or%20getting%20a%20demo%20of%20your%20MSAD%20Insights%20software.%20Please%20provide%20me%20with%20additional%20information%20and%20pricing.%0D%0A%0D%0AThank%20you!" class="btn btn-primary floating-btn">
      <i class="bi bi-chat-dots-fill"></i>
  </a>
  -->
</main>
{% include footer.html %}
